 <h1>スケジュール管理</h1>

  <div class="PageTitle">
  <h2 class="PageTitle__text">
    予定一覧
  </h2>

<div class=container>
<div class="date">
    今日の日付：<%= Date.today.strftime("%Y/%m/%d") %> (<%= %w(日 月 火 水 木 金 土)[Date.today.wday] %>)
      </div>
    <%= link_to '新規追加', new_schedule_path ,class:'add-button'%>
  </div>
 <div class="count">
予定の合計数：<%= @tasks.count %> 件
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>終日</th>
        <th>更新日時</th>
        <th>操作</th>

      </tr>
    </thead>
<tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.id %></td>
          <td><%= task.title %></td>
          <td><%= task.start_date.strftime("%Y/%m/%d")%></td>
          <td><%= task.end_date.strftime("%Y/%m/%d")%></td>
          <td><%= task.all_day ? "○" : "" %></td>
          <td><%= task.updated_at.strftime("%Y/%m/%d %H:%M") %></td>
          <td>
            <%= link_to '詳細', schedule_path(task) %>
            <%= link_to '削除', schedule_path(task), data: { turbo_method: :delete, turbo_confirm: "削除しますか？" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
   </table>
